/* main css stylesheet */


body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

div { 

/*
    width: 600px;
    margin: 5em auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 1em;
*/

}


h1 {
	color: #ffffff;
	background-color: #459fed;
	padding-left: 20px;
}


p {
	font-weight: bold;
	margin-left: 80px;
	margin-top: 50px;
}



#title {
	background-color: #459fed;
}

#subtitle {


}


.float {
	display: inline-block;
}

#left{
	width: 200px;
	float: left;
	margin-left: 80px;
	/* background-color: #d9dbf9; */
}

#right{
	width: 500px;
	margin-left: 50px;
	margin-right: 200px;
	padding-top: 200px;
	/* background-color: #e4f9d9; */

}


.swatchlist {
/*	background: #fff; */
	width: 80px;
	margin-top: 5px;
	padding-left: 25px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
 }


.frame {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 1em;

}


#placeholder {
	width: 400px;
	padding-left: 160px;
	font-size: 48px;
}




/* Begin color map */


#violet {
	background: #733ca6;
	color: #733ca6;
}

#purple {
	background: #b13dac;
	color: #b13dac;
}

#blue{
	background: #459fed;
	color: #459fed;
}

#aquamarine {
	background: #3cc7c5;
	color: #3cc7c5;
}

#green {
	background: #65c888;
	color: #65c888;
}

#gold {
	background: #faad4d;
	color: #faad4d;;
}

#orange {
	background: #f27052;
	color: #f27052;
}

